<h1>Welcome to Video Game Trader</h1>
<h3>Returning Users Log in Here</h3>
<%=button_to "Log In", '/login', method: :get %>
<h4>New Users Sign Up Here</h4>
<%=button_to "New User", '/signup', method: :get %>
