<h3> All platforms </h3>
<ul>
<% @platforms.each do |platform| %>
 <li> Platform Name:<%= link_to platform.name, "/platforms/#{platform.id}"%></li>
  <li>Platform Release Date:<%=platform.release_year%></li>
 <li>Platform ID:<%=platform.id%></li>
<%end%>
</ul>
