<div class="headerbg">
<h1> All Platforms </h1>
</div>
<ul>
<h3>Most Popular Platform: <%= Platform.most_popular %></h3>
<% @platforms.each do |platform| %>
<h2><%= button_to platform.name, platform_path(platform), :class => "platformsbtn", method: :get%></h2>
<div class= "platformtext">
<li>Released: <%= platform.release_year %></li>

<%end%>
</div>
</ul>
