<h1> Add a platform, <%=@user.name%> </h1>
<%= form_for(@platform, url:"/#{@user.id}/platformadded") do |f|%>
<%= collection_select :user_platform, :platform_id, Platform.all, :id, :name %> 
<%=f.submit%>
<%end%>
