<div class="headerbg">
<h1><%= @platform.name%> Home Page</h1>
</div>
<%= button_to 'Home', user_path(session[:user_id]), :class => "showbtn1", method: :get  %>

<h3>Users who own this platform:</h3>
<div class= "plaformshowbox">
 <ul>
    <% @platform.user_platforms.each do |up|%>
        <li><%= link_to up.user.name, user_path(up.user) %> </li><br>
<% end%>
    </ul>
</div>
    <%= button_to "All Platforms", platforms_path,:class => "showbtn2", method: :get  %>

